@import "reset";
@import "typography";
@import '~vue2-datepicker/scss/index.scss';
.mx-calendar-content {
   td, th {
     vertical-align: middle;
   }
}

//  COMMON STYLES
:focus {
  outline: none;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 13px;
  letter-spacing: .01em;
  background-color: $lilac;
}

.box {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

//  PAGES
.page {
  max-width: 1280px;
  margin: 0 auto 70px;
}
.page.authorization {
  flex: 1;
  max-width: initial;
  padding-top: 66px;
  margin: initial;
  text-align: center;
  .box {
    position: relative;
    padding: 0 165px;
  }
  .heading {
    margin-bottom: 37px;
    text-align: center;
  }
  .sub-heading {
    padding: 0 75px;
    margin-bottom: 43px;
    line-height: 24px;
  }
  .authorization-form {
    width: 300px;
    margin: 0 auto;
    .form-group {
      margin-bottom: 34px;
    }
    .s-button {
      padding-top: 16px;
    }
  }
  .link {
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: $radical;
    transition: all .2s;
    cursor: pointer;
    &:hover {color: $radical-h;
    }
  }
}
// OFFERS PAGE

.page__offers {
  padding: 68px 0;
  margin: 0 auto 70px;
  max-width: 1280px;
  letter-spacing: .01em;
  color: $space;
  background-color: #ffffff;
  .heading {
    margin-bottom: 32px;
    line-height: 1em;
  }
}
@media screen and (max-width: 980px) {
  .page {
    width: 100%;
    max-width: initial;
  }
  .page.authorization {
    padding: 66px 20px 0;
    background-image: none;
    .box {padding: 0;
    }
    .heading {
      max-width: 450px;
      margin: 0 auto 34px;
      text-align: left;
    }
    .sub-heading {
      padding: 0;
      margin-bottom: 33px;
      text-align: left;
    }
    .authorization-form {
      width: 100%;
      max-width: 450px;
    }
  }
}
//  CHECKBOX RADIO STYLES
input[type=checkbox] {
  position: relative;
  display: inline-block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin: 0;
  color: #ffffff;
  vertical-align: top;
  border: 1px solid $geyser;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all .2s ease-out 0s;

  -ms-appearance: none;
  -o-appearance: none;
  &:before {
    position: absolute;
    top: 6px;
    left: 2px;
    width: 0;
    height: 2px;
    background: $radical;
    content: "";
    transition: all .1s ease-in-out;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    position: absolute;
    right: 9px;
    bottom: 3px;
    width: 2px;
    height: 0;
    background: $radical;
    content: "";
    transition: all .1s ease-in-out;
    transition-delay: .1s;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  &:checked {
    background: #ffffff;
    &:before {
      top: 10px;
      left: 2px;
      width: 7px;
      height: 2px;
    }
    &:after {
      right: 6px;
      bottom: 3px;
      width: 2px;
      height: 12px;
    }
  }
  &:indeterminate {
    background: $radical;
  }
}
.form-group.checkbox {
  margin-bottom: 20px;
  label {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .txt {
    position: relative;
    width: calc(100% - 20px);
    padding-left: 8px;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
    color: $space;
    cursor: pointer;
    a {
      margin-left: 5px;
    }
  }
  .msg {
    position: absolute;
    top: 28px;
    left: 0;
    font-size: 11px;
    color: $geyser;
    opacity: 0;
    transition: all .2s;
    &.msg_error {
      color: $error;
    }
  }
  &.disabled {
    opacity: .5;
    input[type=checkbox] {
      background-color: $selago;
    }
  }
  &.error {
    input[type=checkbox] {
      border-color: $error;
    }
    .txt {
      color: $error;
    }
    .msg_error {
      top: 50px;
      opacity: 1;
    }
  }
}
//  MULTISELECT STYLES
$color1: #ffffff;
$color2: #41b883;
$color3: #35495e;
$color4: #e8e8e8;
$color5: #999999;
$color6: #adadad;
$color7: #f3f3f3;
$color8: #ff6a6a;
$spinnerBg: $color1;
$spinnerBorderColor: $color2;
$multiselectColor: $color3;
$multiselectBg: $color1;
$multiselectBorderColorHover: darken($color4, 10%);
$multiselectBorderColorFocus: darken($color4, 25%);
$multiselectTagsBgColor: $color1;
$multiselectTagsBorder: 1px solid $color4;
$multiselectTagColor: $color1;
$multiselectTagBgColor: $color2;
$multiselectTagIconColor: darken($color2, 20%);
$multiselectTagIconColorHover: darken($color2, 8%);
$multiselectTagIconColorBgHover: $color1;
$multiselectCurrentBorderColor: $color4;
$multiselectBorderColor: $color5;
$multiselectColor: $color5;
$multiselectPlaceholderColor: $color6;
$multiselectContentBgColor: $color1;
$multiselectContentBorderColor: $color4;
$multiselectOptionHighlightBgColor: $color2;
$multiselectOptionHighlightColor: $color1;
$multiselectOptionSelectedBgColor: $color7;
$multiselectOptionSelectedColor: $color3;
$multiselectOptionHighlightSelectedBgColor: $color8;
$multiselectOptionHighlightSelectedColor: $color1;
$multiselectDisabledBgColor: darken($color1, 7%);
$multiselectDisabledColor: darken($color1, 35%);
$multiselectDisabledOptionBgColor: darken($color2, 3%);
$multiselectTagIcon: "\00D7";
$multiselectTagsBorderRadius: .3125rem;

.multiselect__element {
  border-bottom: 1px solid $selago;
  &:last-child {
    border: 0;
  }
}
.multiselect__spinner {
  position: absolute;
  top: 1px;
  right: 1px;
  display: block;
  width: 3rem;
  height: 2.1875rem;
  background: $spinnerBg;

  &:before, &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    margin: .875rem 0 0 .875rem;
    border-width: 2px;
    border-style: solid;
    border-color: $spinnerBorderColor transparent transparent;
    border-radius: 100%;
    content: "";
    box-shadow: 0 0 0 1px transparent;
  }
  &:before {
    animation: spinning 2.4s cubic-bezier(.41, .26, .2, .62);
    animation-iteration-count: infinite;
  }
  &:after {
    animation: spinning 2.4s cubic-bezier(.51, .09, .21, .8);
    animation-iteration-count: infinite;
  }
}
.multiselect__loading-transition {
  opacity: 1;
  transition: opacity .4s ease-in-out;
}
.multiselect__loading-enter, .multiselect__loading-leave {
  opacity: 0;
}
.multiselect, .multiselect__input, .multiselect__single {
  font-family: inherit;
  font-weight: lighter;
}
.multiselect {
  z-index: inherit!important;
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  color: $multiselectColor;
  box-sizing: content-box;
  * {
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }

  &--active {
    z-index: 50;

    .multiselect__current, .multiselect__input, .multiselect__tags {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .multiselect__select {
      transform: rotateZ(180deg);
    }
  }
}
.multiselect__input, .multiselect__single {
  position: relative;
  display: inline-block;
  width: auto;
  line-height: 16px;
  border: none;
  background: transparent;
  transition: border .1s ease;

  &:hover {
    border-color: $multiselectBorderColorHover;
  }

  &:focus {
    border-color: $multiselectBorderColorFocus;
    outline: none;
  }
}
.multiselect__single {
  padding: 0;
  margin-bottom: 0;
  align-self: flex-end;
}
.multiselect__tags {
  display: flex;
  padding-right: 40px;
  height: 16px;
  font-size: 13px;
  background: transparent;
}
.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: .25rem 1.625rem .25rem .625rem;
  margin-right: .625rem;
  margin-bottom: .5rem;
  line-height: 1;
  color: $multiselectTagColor;
  border-radius: $multiselectTagsBorderRadius;
  background: $multiselectTagBgColor;
}
.multiselect__tag-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1.375rem;
  margin-left: 7px;
  font-weight: 700;
  font-style: initial;
  line-height: 1.375rem;
  text-align: center;
  border-radius: $multiselectTagsBorderRadius;
  cursor: pointer;
  transition: all .2s ease;
  &:after {
    font-size: .875rem;
    color: $multiselectTagIconColor;
    content: $multiselectTagIcon;
  }
  &:focus, &:hover {
    background: $multiselectTagIconColorHover;

    &:after {
      color: $multiselectTagIconColorBgHover;
    }
  }
}
.multiselect__current {
  display: block;
  min-height: 2.5rem;
  padding: .5rem .75rem 0;
  padding-right: 1.875rem;
  margin: 0;
  overflow: hidden;
  line-height: 1rem;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid $multiselectCurrentBorderColor;
  border-radius: $multiselectTagsBorderRadius;
  cursor: pointer;
  box-sizing: border-box;
}
.multiselect__select {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 0;
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform .2s ease;

  justify-content: center;
  &:before {
    position: relative;
    content: "";

    align-self: center;
    @include sprite("multiselect-arrow_static");
  }
}
.multiselect__placeholder {
  display: none;
  padding-top: .125rem;
  margin-bottom: .625rem;
  color: $multiselectPlaceholderColor;

  .multiselect--active & {
    display: none;
  }
}
.multiselect__content {
  position: absolute;
  z-index: 105;
  display: block;
  width: 100%;
  max-height: 15rem;
  padding: 0;
  margin: 10px 0 0;
  overflow: auto;
  list-style: none;
  border: 1px solid $white-lilac;
  border-top: none;
  background: $multiselectContentBgColor;
  box-shadow: 0 0 20px 0 rgba($white-lilac, 1);

  &::webkit-scrollbar {
    display: none;
  }
}
.multiselect__option {
  position: relative;
  display: block;
  min-height: 18px;
  padding: 8px 16px;
  font-weight: 400;
  line-height: 1rem;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: .75rem;
    padding-left: 1.25rem;
    line-height: 2.5rem;
  }
  &--highlight {
    color: $radical;
    outline: none;

    &:after {
      color: $multiselectOptionHighlightColor;
      content: attr(data-select);
    }
  }
  &--selected {
    color: $radical;
    &:after {
      font-weight: 300;
      color: darken($multiselectOptionSelectedBgColor, 20%);
      content: attr(data-selected);
    }
  }
}
.multiselect__option--selected.multiselect__option--highlight {
  font-weight: lighter;

  &:after {
    color: $multiselectOptionHighlightSelectedColor;
    content: attr(data-deselect);
  }
}
.multiselect--disabled {
  pointer-events: none;
  background: $multiselectDisabledBgColor;

  .multiselect__current, .multiselect__select {
    color: $multiselectDisabledColor;
    background: $multiselectDisabledBgColor;
  }
}
.multiselect__option--disabled {
  color: $multiselectDisabledColor;
  pointer-events: none;
  background: $multiselectDisabledBgColor;
  cursor: text;

  &:visited {
    color: $multiselectDisabledColor;
  }

  &:hover, &:focus {
    background: $multiselectDisabledOptionBgColor;
  }
}
.multiselect-transition {
  transition: all .3s ease;
}
.multiselect-enter, .multiselect-leave {
  max-height: 0 !important;
  opacity: 0;
}
/*Change chrome autofilled inputs from yellow to white*/
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
/*Change text color in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: $space !important;
}
input, textarea, select, button {
  font-family : "Montserrat", "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@import "mobile";
