@mixin btn ($height, $border-radius, $color, $hover) {
  display: inline-block;
  vertical-align: top;
  border: 1px solid $color;
  background-color: $color;
  border-radius: $border-radius;
  line-height: $height;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: 0.2s linear;
  &:hover {
    background-color: $hover;
    border-color: $hover;
  }
}
@mixin btn-trans ($height, $border-radius, $color, $hover) {
  display: inline-block;
  vertical-align: top;
  border: 1px solid $color;
  border-radius: $border-radius;
  line-height: $height;
  font-weight: 600;
  color: $color;
  text-align: center;
  cursor: pointer;
  transition: 0.2s linear;
  &:hover {
    color: $hover;
    border-color: $hover;
  }
}
@mixin shadow($bg){
  background-color: $bg;
  border: 1px solid $white-lilac;
  box-shadow: 0px 0px 20px 0px $white-lilac;
}
@mixin flex($x,$y) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}
@mixin placeholder($color){
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
  }
}
